@using Models

@if (Neighbourhoods == null)
{
    <div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
        class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
        <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </svg>
    <div>Neighbourhoods is required to render the form!</div>
</div>
}
else
{
    <div>
        @if (_listingFilters.MinPrice != null || _listingFilters.MaxPrice != null || _listingFilters.Neighbourhood != null || _listingFilters.MinNrOfReviews != null ||  _listingFilters.MaxNrOfReviews != null)
        {
            <div class="mb-3">
                <label>Active filters</label>
                <div>
                    @if (_listingFilters.Neighbourhood != null)
                    {
                        <button @onclick="@(e => _listingFilters.Neighbourhood = null)" type="button" class="btn btn-sm btn-primary rounded-pill me-1">
                            @_listingFilters.Neighbourhood
                            <span class="oi oi-x"></span>
                        </button>
                    }

                    @if (_listingFilters.MinPrice != null)
                    {
                        <button @onclick="@(e => _listingFilters.MinPrice = null)" type="button" class="btn btn-sm btn-warning rounded-pill me-1">
                            &gt; €@_listingFilters.MinPrice
                            <span class="oi oi-x"></span>
                        </button>
                    }
                    @if (_listingFilters.MaxPrice != null)
                    {
                        <button @onclick="@(e => _listingFilters.MaxPrice = null)" type="button" class="btn btn-sm btn-warning rounded-pill me-1">
                            &lt; €@_listingFilters.MaxPrice
                            <span class="oi oi-x"></span>
                        </button>
                    }
                    @if (_listingFilters.MinNrOfReviews != null)
                    {
                        <button @onclick="@(e => _listingFilters.MinNrOfReviews = null)" type="button" class="btn btn-sm btn-success rounded-pill me-1">
                            &gt; @_listingFilters.MinNrOfReviews reviews
                            <span class="oi oi-x"></span>
                        </button>
                    }
                    @if (_listingFilters.MaxNrOfReviews != null)
                    {
                        <button @onclick="@(e => _listingFilters.MaxNrOfReviews = null)" type="button" class="btn btn-sm btn-success rounded-pill me-1">
                            &lt; @_listingFilters.MaxNrOfReviews reviews
                            <span class="oi oi-x"></span>
                        </button>
                    }
                </div>
            </div>
        }

        <EditForm Model="@_listingFilters" OnValidSubmit="() => FilterListings.InvokeAsync(_listingFilters)">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="row g-3 mb-3">
                <div class="col-6">
                    <label for="minPrice">minimum price</label>
                    <InputNumber id="minPrice" class="form-control" @bind-Value="_listingFilters.MinPrice" />
                </div>
                <div class="col-6">
                    <label for="maxPrice">maximum price</label>
                    <InputNumber id="maxPrice" class="form-control" @bind-Value="_listingFilters.MaxPrice" />
                </div>
            </div>

            <div class="mb-3">
                <label for="neighbourhood">neighbourhood</label>
                <InputSelect id="neighbourhood" class="form-select" @bind-Value="_listingFilters.Neighbourhood">

                    @if (Neighbourhoods == null)
                    {
                    <option value="" selected disabled>loading...</option>
                    }
                    else
                    {
                    <option value="">All neighbourhoods</option>
                    @foreach (var neighbourhood in Neighbourhoods)
                        {
                            if (neighbourhood.Name?.Length > 2)
                            {
                            <option value="@neighbourhood.Name">@neighbourhood.Name</option>
                            }
                        }
                    }

                </InputSelect>
            </div>

            <div class="row g-3 mb-3">
                <div class="col-6">
                    <label for="minNrOfReviews">minimum # reviews</label>
                    <InputNumber id="minNrOfReviews" class="form-control" @bind-Value="_listingFilters.MinNrOfReviews" />
                </div>
                <div class="col-6">
                    <label for="maxNrOfReviews">maximum # reviews</label>
                    <InputNumber id="maxNrOfReviews" class="form-control" @bind-Value="_listingFilters.MaxNrOfReviews" />
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>
}

@code {
    [Parameter]
    public List<Neighbourhood>? Neighbourhoods { get; set; }
    [Parameter]
    public EventCallback<ListingFilters> FilterListings { get; set; }

    private ListingFilters _listingFilters = new();
}
